{% extends 'base.html.twig' %}

{% block title %}Détails de l'offre - {{ poste.intitule }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/offre_details.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="welcome">
    <img src="{{ asset('uploads/images/' ~ poste.image) }}" alt="{{ poste.intitule }}">
    </div>
    
    <a href="{{ path('home') }}"><img src="{{ asset('img/fleche_retour.svg') }}" alt="flèche retour" class="fleche"</a>


    
    <div class="differentes-parties">
        <div class="titre-postule">
        <div class="info-debut">
            <h1>{{ poste.intitule }}</h1>
            <p class="text-muted">{{ poste.domaine }} - {{ poste.localisation }}</p>
        </div> 
        <a class="bouton-connexion" href="{{ path('app_login') }}">Postuler</a>
    </div>
        <div>
        <h2>Description du poste</h2>
        <p>{{ poste.description }}</p>
    </div>  
    <div>
        <h2>Missions</h2>
        <p>{{ poste.missions }}</p>
    </div>             
    <div>
    <h2>Profil recherché</h2>
    <p>{{ poste.profilRecherche }}</p>
    </div>
                    
    <div>    
    {% if poste.infoSupp %}
    <h2>Informations supplémentaires</h2>
    <p>{{ poste.infoSupp }}</p>
    {% endif %}
    </div>
                    
    <div>    
    <h3>Détails de l'offre</h3>
    <p><strong>Type de contrat:</strong> 
    {% for contrat in poste.contratType %}
    {{ contrat.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    <p><strong>Durée:</strong> 
        {% for d in poste.duree %}
            {{ d.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}    
        <p><strong>Présence:</strong> {{ poste.presence.name }}</p>
    <p><strong>
    Salaire:</strong> {{ poste.salaire }} €</p>
    </p>
    <p><strong>Contact:</strong> {{ poste.contact }}</p>
    </div>

    <div>
    
    <h4>{{ poste.entreprise.nom }}</h4>
    <p>{{ poste.presentationEntreprise }}</p>
    </div>
    </div>
    
</div>
{% endblock %}