{# templates/partials/footer.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% endblock %}

<footer>
    <section class="footer-section container">
        <a href="{{ path('home') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Job Pulse" class="header-logo">
        </a>
        <div class="footer-nav">
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>
        <div class="footer-other">
            <div class="instit-logo">
                <img src="{{ asset('img/logo_univ.png') }}" alt="Job Pulse" class="header-logo">
                <img src="{{ asset('img/mmi.png') }}" alt="Job Pulse" class="header-logo">
            </div>
            <div class="little-footer">
                <a href="{{ path('app_login') }}">Politique de confidentialité</a>
                <a href="{{ path('app_login') }}">Mentions légales</a>
                <p>&copy;2025 Étudiants MMI</p>
            </div>
        </div>
    </section>
</footer>