{# templates/partials/header.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

<header>
   
    <section class="header-section">
        <a href="{{ path('etudiant_dashboard') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Job Pulse" class="header-logo">
        </a>
        
        <nav class="header-nav">
            
            <a href="{{ path('etudiant_candidatures') }}">Mes étudiants</a>
            <a href="{{ path('etudiant_enregistrements') }}">Mes enregistrements</a>
            <div>
                <a  href="{{ path('app_message_index') }}">
                    <img class="image-header" src="{{ asset('img/messagerie-icone.png') }}" alt="photo de profil">
                </a>
                <a  href="{{ path('etudiant_profil') }}">
                    <img class="image-header" src="{{ asset('img/profil.png') }}" alt="photo de profil">
                </a>
                <a class="bouton-connexion" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </nav>
    </section>
</header>