{% extends 'base.html.twig' %}
{% block title %}Mes offres{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/offre_details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
{% endblock %}


{% block body %}
    <h1>Mes offres d'emploi</h1>

    <a href="{{ path('app_poste_new') }}" class="btn btn-primary">Créer une nouvelle offre</a>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Intitulé</th>
                <th>Domaine</th>
                <th>Localisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>
                    {% if poste.image %}
                        <img src="{{ asset('uploads/images/' ~ poste.image) }}" alt="{{ poste.intitule }}" width="80" height="60" class="img-thumbnail">
                    {% else %}
                        <span class="text-muted">Aucune image</span>
                    {% endif %}
                </td>
                <td>{{ poste.intitule }}</td>
                <td>{{ poste.domaine }}</td>
                <td>{{ poste.localisation }}</td>
                <td>
                    <a href="{{ path('app_poste_edit', {'id': poste.id}) }}" class="btn btn-secondary">Modifier</a>
                    <form method="post" action="{{ path('app_poste_delete', {'id': poste.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre?');" style="display: inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune offre trouvée</td> {# Mise à jour du colspan à 5 #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('entreprise_dashboard') }}" class="btn btn-secondary">Retour en arrière</a>
{% endblock %}