{% extends 'base.html.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<section class="hero-section container">
    <div class="hero-div">
        <div class="imgProfil-div">
            {% if etudiant.photoProfil is not null %}
                <img 
                    src="{{ asset('uploads/images/' ~ etudiant.photoProfil) }}"
                    alt="Photo de profil" 
                    class="img-profil"
                >
            {% else %}
                <img 
                    src="{{ asset('img/profil.png') }}"
                    alt="Photo de profil" 
                    class="img-profil"
                >
            {% endif %}
        </div>

        <div class="profil-div">
            <h1>{{ etudiant.prenom }} {{ etudiant.nom }}</h1>
            <h3>{{ etudiant.bio|nl2br }}</h3>
        </div>
    </div>

    {# Pas de bouton pour modifier ou télécharger le CV ici, car c’est le tuteur qui regarde le profil #}
</section>

<section class="informations-section container">
    <div class="informations-div">
        <h2>Description</h2>
        <h3>{{ etudiant.decription|nl2br }}</h3>
    </div>
    <div class="informations-div">
        <h2>Formation</h2>
        <h3>{{ etudiant.formation|nl2br }}</h3>
    </div>
    <div class="informations-div">
        <h2>Expériences</h2>
        <h3>{{ etudiant.experience|nl2br }}</h3>
    </div>
    <div class="informations-div">
        <h2>Contact</h2>
        <h3>{{ etudiant.contact|nl2br }}</h3>
    </div>
    <div class="informations-div">
        <h2>Plus sur moi</h2>
        <h3>{{ etudiant.plusSurMoi|nl2br }}</h3>
    </div>
</section>
{% endblock %}
