{% extends 'base.html.twig' %}

{% block title %}Mes enregistrements{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="titre-enregistrements">Mes enregistrements</h1>
        
        {% if postesSauvegardes.empty %}
            <p>Vous n'avez pas encore enregistré d'offres.</p>
        {% else %}
            <div class="results-container">
                <div class="results-grid">
                    {% for poste in postesSauvegardes %}
                        <a href="{{ path('offre_details', {'id': poste.id}) }}" class="job-card-link">
                            <div class="job-card card">
                                {% if poste.image %}
                                    <div class="image-container">
                                        <img src="{{ asset('uploads/images/' ~ poste.image) }}" alt="{{ poste.intitule }}">
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <div class="debut-carte">
                                        <h4 class="card-title">{{ poste.intitule }}</h4>
                                        <img src="{{ asset('img/enregistre.png') }}"
                                            alt="enregistré"
                                            class="img-un hidden"
                                            onclick="toggleImage(event, this)">
                                        <img src="{{ asset('img/enregistre.png') }}"
                                            alt="non-enregistré"
                                            class="img-deux"
                                            onclick="toggleImage(event, this)">
                                    </div>
                                    <div class="localisation">
                                        <img src="{{ asset('img/localisation.svg') }}" alt="point de repère" class="mini-icon">
                                        <p>{{ poste.localisation }}</p>
                                    </div>
                                    <p class="card-text">{{ poste.description|slice(0, 150) }}...</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}